@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.woff2") format("woff2"), url("../fonts/Alata-Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Thin.woff2") format("woff2"), url("../fonts/JosefinSans-Thin.woff") format("woff");
  font-weight: 300; }

body {
  color: white;
  font-size: 15px;
  font-family: "Josefin Sans"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alata"; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }
